@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font faces */
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/fonts/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/fonts/OpenDyslexic-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/fonts/OpenDyslexic-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/fonts/OpenDyslexicMono-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/fonts/OpenDyslexicAlta-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/fonts/OpenDyslexicAlta-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/fonts/OpenDyslexicAlta-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* main applied classes */
body {
  font-family: "Space Grotesk", sans-serif;
  overflow: hidden;
}

/* class names applies */

/* fonts */
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-dyslexic {
  font-family: "OpenDyslexic";
  font-optical-sizing: auto;
  font-style: normal;
}
.open-dyslexic {
  font-family: "OpenDyslexic" !important;
  font-optical-sizing: auto;
  font-style: normal;
}
